/* montserrat-200 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/montserrat-v14-latin-200.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
         url('../assets/fonts/montserrat-v14-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/montserrat-v14-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/montserrat-v14-latin-200.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/montserrat-v14-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/montserrat-v14-latin-200.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-200italic - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    src: url('../assets/fonts/montserrat-v14-latin-200italic.eot'); /* IE9 Compat Modes */
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
         url('../assets/fonts/montserrat-v14-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/montserrat-v14-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/montserrat-v14-latin-200italic.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/montserrat-v14-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/montserrat-v14-latin-200italic.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-regular - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../assets/fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-italic - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/montserrat-v14-latin-italic.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
         url('../assets/fonts/montserrat-v14-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/montserrat-v14-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/montserrat-v14-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/montserrat-v14-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/montserrat-v14-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/montserrat-v14-latin-600.eot'); /* IE9 Compat Modes */
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
         url('../assets/fonts/montserrat-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/montserrat-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/montserrat-v14-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/montserrat-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/montserrat-v14-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-600italic - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 600;
    src: url('../assets/fonts/montserrat-v14-latin-600italic.eot'); /* IE9 Compat Modes */
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
         url('../assets/fonts/montserrat-v14-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/montserrat-v14-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/montserrat-v14-latin-600italic.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/montserrat-v14-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/montserrat-v14-latin-600italic.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

  /* raleway-200 - latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 200;
    src: url('../assets/fonts/raleway-v17-latin-200.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/raleway-v17-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/raleway-v17-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/raleway-v17-latin-200.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/raleway-v17-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/raleway-v17-latin-200.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-regular - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/raleway-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/raleway-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/raleway-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/raleway-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/raleway-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/raleway-v17-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-600 - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/raleway-v17-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/raleway-v17-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/raleway-v17-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/raleway-v17-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/raleway-v17-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/raleway-v17-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-200italic - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 200;
    src: url('../assets/fonts/raleway-v17-latin-200italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/raleway-v17-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/raleway-v17-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/raleway-v17-latin-200italic.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/raleway-v17-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/raleway-v17-latin-200italic.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-italic - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    src: url('../assets/fonts/raleway-v17-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/raleway-v17-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/raleway-v17-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/raleway-v17-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/raleway-v17-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/raleway-v17-latin-italic.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  /* raleway-600italic - latin */
  @font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 600;
    src: url('../assets/fonts/raleway-v17-latin-600italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../assets/fonts/raleway-v17-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../assets/fonts/raleway-v17-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../assets/fonts/raleway-v17-latin-600italic.woff') format('woff'), /* Modern Browsers */
         url('../assets/fonts/raleway-v17-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../assets/fonts/raleway-v17-latin-600italic.svg#Raleway') format('svg'); /* Legacy iOS */
  }