<div class="top-wrap uk-position-relative uk-light uk-background-secondary">
			
  <!-- NAV -->
  <div class="nav" data-uk-sticky="cls-active: uk-background-secondary uk-box-shadow-medium; top: 100vh; animation: uk-animation-slide-top">
    <div class="uk-container">
      <nav class="uk-navbar uk-navbar-container uk-navbar-transparent" data-uk-navbar>
        <div class="uk-navbar-left">
          <div class="uk-navbar-item uk-padding-remove-horizontal">
            <a class="uk-logo" title="Logo" href="">
              <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 300 300"><g stroke="#000" pointer-events="all"><path d="M45.934 53.747L152 117.387l106.066-63.64-63.64 106.066 63.64 106.066L152 202.24 45.934 265.88l63.64-106.066z" fill="#8fb8de" stroke-miterlimit="10"/><path d="M0 150l120-30L150 0l30 120 120 30-120 30-30 120-30-120z" fill="#0d4672" stroke-miterlimit="10"/><path fill="#fff" d="M140 0h20v300h-20z"/></g></svg>
              <span>Sparkside Software</span>
            </a>
          </div>
        </div>
        <div class="uk-navbar-right">
        </div>
      </nav>
    </div>
  </div>
  <!-- /NAV -->
  
  <div class="uk-cover-container uk-light uk-flex uk-flex-middle top-wrap-height">
    
    <!-- TOP CONTAINER -->
    <div class="uk-container uk-flex-auto top-container uk-position-relative uk-margin-medium-top" data-uk-parallax="y: 0,50; easing:0; opacity:0.2">
      <div class="uk-width-1-2@s" data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
        <h6 class="uk-text-primary uk-margin-small-bottom">SOFTWARE DEVELOPMENT AND CONSULTING</h6>
        <h1 class="uk-margin-remove-top">Software solutions large and small.</h1>
        <a href="#" title="Learn More" class="uk-button uk-button-primary uk-border-pill" data-uk-scrollspy-class="uk-animation-fade">LEARN MORE</a>
      </div>
    </div>
    <!-- /TOP CONTAINER -->
    <!-- TOP IMAGE -->
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-srcset="https://picsum.photos/640/700/?image=1042 640w,
    https://picsum.photos/960/700/?image=1042 960w,
    https://picsum.photos/1200/900/?image=1042 1200w,
    https://picsum.photos/2000/1000/?image=1042 2000w"
    data-sizes="100vw"
    data-src="https://picsum.photos/1200/900/?image=816" alt="" data-uk-cover data-uk-img data-uk-parallax="opacity: 1,0.1; easing:0"
    >
    <!-- /TOP IMAGE -->
  </div>
  <div class="uk-position-bottom-center uk-position-medium uk-position-z-index uk-text-center">
    <a href="#content" data-uk-scroll="duration: 500" data-uk-icon="icon: arrow-down; ratio: 2"></a>
  </div>
</div>


<!-- BOTTOM -->
<section class="uk-section uk-section-default">
  
  <div class="uk-container uk-container-xsmall uk-text-center uk-section uk-padding-remove-top">
    <h5 class="uk-text-primary">SOFTWARE DEVELOPMENT AND CONSULTING</h5>
    <h2 class="uk-margin-remove uk-h1">Applying over 20 years of software development experience to problems large and small.</h2>
  </div>
  
</section>
<!-- BOTTOM -->


<!-- FOOTER -->
<footer class="uk-section uk-section-secondary uk-padding-remove-bottom">
  <div class="uk-container">
    <div class="uk-grid uk-grid-large" data-uk-grid>
      <div class="uk-width-1-2@m">
        <h5>THE COMPANY</h5>
        <p>Custom software solutions and consulting. Contact <a href="mailto:info@sparkside.io" title="Contact Email" target="_blank" data-uk-tooltip>info@sparkside.io</a></p>

      </div>
    </div>
  </div>
  
  <div class="uk-text-center uk-padding uk-padding-remove-horizontal">
    <span class="uk-text-small uk-text-muted">&copy; 2020 Sparkside Software LLC - Built with <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a></span>
  </div>
</footer>
<!-- /FOOTER -->

